.comment
  .comment-item
    .comment-user
      .comment-user__name
        = comment.user.name
      .comment-user__review
        = render partial:'homes/star/comment-star', locals: { comment: comment }
  .comment-item
    .comment-title 
      = comment.title
  .comment-item
    .comment-time
      = comment.text
  .comment-item
    .comment-main
      = comment.created_at
