%body
  .content
    .content-top
      .contents
        .container
          = form_for @comment, url: {action: "create"} do |form|
            #star.form-group.row
              = form.label :rate, "評価", class:"rate"
              = form.hidden_field :rate, id: :review_star
            :javascript
              $('#star').raty({
                size        : 36,
                starOff     : '#{asset_path('star-off.png')}',
                starOn      : '#{asset_path('star-on.png')}',
                starHalf    : '#{asset_path('star-half.png')}',
                scoreName   : 'comment[rate]',
                half        : true,
              });
            .form-group.row
              = form.label :title
              = form.text_field :title, id: :comment_title
            .form-group.row
              = form.label :text
              = form.text_area :text, id: :comment_text
            .form-group.row
              = form.submit