.average
  - if @comments.length == 0
    まだレビューがありません
  - else
    .progress-bar
      - @max_progress = []
      - @progress.each do |p|
        - @max_progress << p.second
      .progress-bar__star
        - @rate.each do |r|
          %div{class: "progress-bar__star__head", id: "rate-#{r}"}
            :javascript
              $('#rate-#{r}').raty({
                size: 36,
                starOff   : '#{asset_path('star-off.png')}',
                starOn    : '#{asset_path('star-on.png')}',
                readOnly  : true,
                score     : #{r},
              });
