.wrapper
  .container
    .container__box
      = form_with model: @movie, url: movies_path, method: :post, local: true do |f|
        .container__box__font-box
          タイトル
        = f.text_field :title, autocomplete: "title", class:"form-box"
        .container__box__font-box
          上映時間
        = f.text_field :screening_time, autocomplete: "screening_time", class:"form-box"
        .container__box__font-box
          詳細
        = f.text_area :detail, autocomplete: "detail", class:"form-area"
        .container__box__font-box
          監督
        = f.text_field :director, autocomplete: "director", class:"form-box"
        .container__box__font-box
          主演
        = f.text_field :starring, autocomplete: "starring", class:"form-box"
        .container__box__font-box
          年
        = f.text_field :year, autocomplete: "year", class:"form-box"
        .container__box__font-box
          ジャンルid
        = f.text_field :genre_id, autocomplete: "genre_id", class:"form-box"
        .container__box__font-box
          タイトル
        = f.text_field :rating_status, autocomplete: "rating_status", class:"form-box"
        .container__box__font-box
          写真
        = f.file_field  :image, type: 'file', autocomplete: "image", class:"form-box"
        = f.submit "投稿する", class: "submit"
        



