.page-all
  .prof
    = image_tag 'dorres.jpeg', alt: 'プロフィール', height: '250', width: '250',class: "prof__image"
  .user-box
    .user-box__name
      = @user.name
  .admin
  - if current_user == @admin
    .admin__icon
      %i.fas.fa-star
    .admin__new
      = link_to '映画投稿', new_movie_path
  .status
    .status__box
      .status__box__email
        .status__box__email__icon
          %i.fas.fa-lock
        .status__box__email__mail
          %p メールアドレス
          = @user.email
      .status__box__gendder
        .status__box__gendder__icon
          %i.fas.fa-heart
        .status__box__gendder__gen
          %p 性別
          = @user.gendder
      .status__box__age
        .status__box__age__icon
          %i.fas.fa-hourglass-start
        .status__box__age__post
          %p 年齢
          = @user.age
          才

      .status__box__genre
        .status__box__genre__icon
          %i.fas.fa-atlas
        .status__box__genre__post
          %p 好きなジャンル
          = @user.genre.name
          
    .status__box__list
      .status__box__list__main
        %p 過去のレビュー
        .status__box__list__main__name
          .status__box__list__main__name__title
            %p2 映画のタイトル
          .status__box__list__main__name__big
            %p2 レビュー名
          .status__box__list__main__name__comment
            %p2 コメント
          .status__box__list__main__name__rate
            %p2 映画の評価
        .status__box__list__main__win
          - @comments.each do |f|
            .status__box__list__main__win__one
              .status__box__list__main__win__one__movie
                = f.movie.title 
              .status__box__list__main__win__one__title
                = f.title
              .status__box__list__main__win__one__text
                = f.text
              .status__box__list__main__win__one__rate
                %i.fas.fa-star
                = f.rate

    .status__box__link
      .status__box__link__withdraw
        退会
      .status__box__link__edit
        = link_to "編集", edit_user_path(@user.id)
        