.header
  .header__top
    .header__top__left-box
      .logo
        = image_tag 'e-ga_180_50_2.svg', alt: 'プロフィール', height: '50', width: '180', class: "logo_image"
    .header__top__search-box
      = form_with(url: search_movies_path, local: true, method: :get, class: "search-form") do |form|
        = form.text_field :keyword, placeholder: "映画を検索する", class: "search-input"
        = form.submit "検索する", class: "search-btn"
    .header__top__right-box
      - if user_signed_in? && current_user.admin?
        =link_to "映画投稿", new_movie_path
      - elsif user_signed_in?
        = link_to current_user.name, mypage_path, class: "sign-up-btn"
      - else
        = link_to "新規登録", new_user_registration_path, class: "sign-up-btn"
      .user-image
      .user-nickname
.header__bottom
  .header__bottom__left-box
    %ul.dropdown
      %li 
        = link_to 'ホーム', root_path
      %li#genre
        = link_to 'ジャンル', '/'
        %ul.dropdown_menu
          %li.dropdown_menu
            - @genres.each do |genre|
              = link_to "#{genre.name}", "/genres/#{genre.id}"
      %li
        = link_to 'お気に入り', '/'
  .header__bottom__right-box
    - if user_signed_in?
      %ul
        %li
          = link_to 'ログアウト', destroy_user_session_path, method: :delete, :class => 'navbar-link'
        %li
          = link_to '設定', edit_user_path(@user)
        %li
          =link_to '使い方', getstarted_path
    - else
      %ul
        %li
          = link_to 'ログイン', new_user_session_path
        %li
          = link_to '設定', '/'
        %li
          =link_to '使い方', getstarted_path
