.header
  .header__top
    .header__top__left-box
      .pulldown-btn
        %i.far.fa-list-alt
      .logo
    .header__top__search-box
      .header__top__search-btn
        %i.fas.fa-search
    .header__top__right-box
      .user-image
      .user-nickname
.header__bottom
  .header__bottom__left-box
    %ul
      %li 
        = link_to 'ホーム', '/'
      %li
        = link_to 'ジャンル', '/'
      %li
        = link_to 'お気に入り', '/'
  .header__bottom__right-box
    %ul
      %li
        = link_to 'ログイン', '/'
      %li
        = link_to '設定', '/'
      %li
        = link_to 'ヘルプ', '/'
