= render 'header'
.movie-show
  .movie-main
    .movie-contents
      .contents-text
        .contents-text__title
          = @movie.title
        .contents-text__info
          .contents-text__info__name
            ⭐️⭐️⭐️⭐️⭐️
          .contents-text__info__name
            1時間59分
            = @movie.screening_time
          .contents-text__info__name
            2019年
            = @movie.year
      .contents-sentence  
        = @movie.detail
      .contents-details
        .contents-detail
          .contents-detail__ibox
            .contents-detail__ibox__item
              ジャンル
            .contents-detail__ibox__item
              監督
            .contents-detail__ibox__item
              主演
          .contents-detail__nbox
            .contents-detail__nbox__name
              = @movie.genre_id
            .contents-detail__nbox__name
              = @movie.director
            .contents-detail__nbox__name
              = @movie.starring
            
    .movie-image
      = image_tag @movie.image.url, size: "200x200", alt: "test"
  .movie-sub
    .movie-review
      .review
        レビュー
        .review__one
          ⭐️⭐️⭐️⭐️⭐️
        .review__one
          評価の数　50
        .review__one

    .movie-comments
      .movie-comments__title
        コメント
      .comment
        .comment-item
          .comment-user
            .comment-user__name
              chikuwabu
            .comment-user__review
              ⭐️⭐️⭐️⭐️⭐️
        .comment-item
          .comment-title 
            賭ケグルってないじゃない。
        .comment-item
          .comment-time
            2019年12月17日
        .comment-item
          .comment-main
            アニメの1期を観ました。それなりに面白かったので、実写版を視聴。
            今作は、オリジナルストーリーなのでしょうか。
            全く面白くありません。
            ギャンブル自体が、カイジの劣化版のようで、非常に幼稚。
            心理戦も、裏の駆け引きもすごく浅い。結果がすぐ分かってしまいます。
            何より、ヴィレッジなるアンチ賭け事の集団が意味不明。
            ギャンブル至上主義の私立百花王学園にいる意味がありません。
            アニメでは、蛇喰夢子vs学園を支配する生徒会役員達、生徒会長という構図が良かったのに、
            映画は、ヴィレッジvs生徒会の戦いに蛇喰夢子が加わるという変な脚本。
            演出、シナリオ全てがつまらない上に、出演者たちの学芸会風味の演技がどうにもダメな感じがしました。
            浜辺美波さんは、雰囲気として夢子ぽさもあるのですが、
            蛇喰夢子というキャラクターの良さは、破滅願望の見えるギャンブル中毒、依存で、もっと妖艶で、妖しいところだと、
            個人的には思っていたのですが、今作は名推理の可愛いキャラに納まってしまっているのが残念です。




= render 'footer'